openapi: 3.2.0
info:
  title: TIER / Dott GBFS Discovery API
  version: '2.3'
  description: Public GBFS (General Bikeshare Feed Specification) 2.3 endpoints for TIER / Dott shared micromobility systems.
  contact:
    name: Dott (formerly TIER)
    url: https://ridedott.com/
servers:
- url: https://gbfs.api.ridedott.com/public/v2
  description: Production GBFS feeds (TIER and Dott systems unified)
tags:
- name: Discovery
  description: GBFS discovery and versioning
paths:
  /gbfs_versions.json:
    get:
      tags:
      - Discovery
      summary: List GBFS Versions
      description: Returns all GBFS schema versions exposed by Dott across systems.
      operationId: listGbfsVersions
      responses:
        '200':
          description: GBFS versions document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GbfsVersions'
  /{system_id}/gbfs.json:
    get:
      tags:
      - Discovery
      summary: Get GBFS Discovery Document
      description: Returns the GBFS auto-discovery document for a given city/system, listing every available feed URL.
      operationId: getGbfsDiscovery
      parameters:
      - $ref: '#/components/parameters/SystemId'
      responses:
        '200':
          description: GBFS discovery document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GbfsDiscovery'
components:
  schemas:
    FeedMeta:
      type: object
      required:
      - last_updated
      - ttl
      - version
      properties:
        last_updated:
          type: integer
          format: int64
          description: POSIX timestamp when the feed was last updated.
        ttl:
          type: integer
          description: Seconds until the next regeneration.
        version:
          type: string
          example: '2.3'
    GbfsVersions:
      allOf:
      - $ref: '#/components/schemas/FeedMeta'
      - type: object
        properties:
          data:
            type: object
            properties:
              versions:
                type: array
                items:
                  type: object
                  properties:
                    version:
                      type: string
                    url:
                      type: string
                      format: uri
    GbfsDiscovery:
      allOf:
      - $ref: '#/components/schemas/FeedMeta'
      - type: object
        properties:
          data:
            type: object
            additionalProperties:
              type: object
              properties:
                feeds:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      url:
                        type: string
                        format: uri
  parameters:
    SystemId:
      name: system_id
      in: path
      required: true
      description: The Dott/TIER system slug, e.g. `berlin`, `paris`, `london`, `madrid`, `rome`, `brussels`, `dubai`. Listed in the MobilityData GBFS systems registry.
      schema:
        type: string
        example: berlin
